

@font-face {
    font-family: agba;
    src: url(./fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Dom;
    src: url(./fonts/magneta-medium.ttf);
}

@font-face {
    font-family: jhm;
    src: url(./fonts/Kurale/Kurale-Regular.ttf);
}
body{
  background-color: #FFF3F0;
}
#nav_bar a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 120%;
    font-family: agba;
    
}
#nav_bar{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#trending{
  font-size: 200%;
  transform: translate(110px, 100px);
  font-family: Dom;

}
.heading_main{
  font-size: 300%;
  transform: translate(20px, 50px);
  font-family: jhm;


}
#orange{
  width: 60px;
  transform: translate(80px, 80px);
}

#black{
  width: 50px;
  transform: translate(-60px, 150px);
}
#orange-two{
  width: 30px;
  transform: translate(-200px, 230px);
}


#pal_heading{
    color: orange;
}
#contact{
    position: relative;
    /* margin-left: 1700px; */
    transform: translate(1680px, -50px);
    border: none;
    padding: 1.5rem;
    border-radius: 10rem;
    background: orange;
    font-size: 100%;
}
#heading{
        text-align: center;
}



.btn {
  position: relative;
   transform: translate(1680px, -50px);
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color:black;
  background: none;
  border: 2px solid orange;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.contacts {
  background: linear-gradient(orange 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.contacts:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}

.btn-one {
  position: relative;
   transform: translate(910px, 50px);
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color:black;
  background: none;
  border: 2px solid orange;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.pets {
  background: linear-gradient(orange 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.pets:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}


#heading h1{
  font-family: jhm;
  font-size: 450%;
}
#heading p{
  font-size: 120%;
  font-family: agba;
}
#pets{
    justify-content: center;
    display: flex;
    text-align: center;
    
}
#image_one{
    width: 20rem;
    background-color:#306789;
    border-radius: 15rem;
}
#image_two{
    width: 19rem;
    background-color:#FFB6C1;
    border-radius: 15rem;
}
  
  .container{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }
  
  .card{
    position: relative;
    width: 310px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
    border-radius: 15px;
  }
  
  .card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .face.face1{
    box-sizing: border-box;
    padding: 20px;
  }
  
  
  .card .face.face1 .content{
    font-size:1.2em;
    margin:0;
    padding:0 0 1em 0;
    font-weight:500;
  }
  
  .card .face.face2{
    background: #111;
    transition: 0.5s;
  }
  
  .card:nth-child(1) .face.face2{
    /* background: linear-gradient(4deg, #3503ad, #f7308c); */
     background: linear-gradient(4deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/dog2.png);
    border-radius: 15px;
  }
  

  
  .card:hover .face.face2{
    height: 40px;
    border-radius: 0 0 15px 15px;
  }
  
  .card .face.face2:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }
  
/* image two */
  .card .face.face3{
    background: #111;
    transition: 0.5s;
  }
  
  .card:nth-child(1) .face.face3{
    /* background: linear-gradient(4deg, #3503ad, #f7308c); */
     background: linear-gradient(4deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/cat3.jpg);
    border-radius: 15px;
  }
  

  
  .card:hover .face.face3{
    height: 40px;
    border-radius: 0 0 15px 15px;
  }
  
  .card .face.face3:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }


/* image3 */
 .card .face.face4{
    background: #111;
    transition: 0.5s;
  }
  
  .card:nth-child(1) .face.face4{
    /* background: linear-gradient(4deg, #3503ad, #f7308c); */
     background: linear-gradient(4deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(im/cat4.png);
    border-radius: 15px;
  }
  

  
  .card:hover .face.face4{
    height: 40px;
    border-radius: 0 0 15px 15px;
  }
  
  .card .face.face4:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }
  

  /* image4 */
  .card .face.face5{
    background: #111;
    transition: 0.5s;
  }
  
  .card:nth-child(1) .face.face5{
    /* background: linear-gradient(4deg, #3503ad, #f7308c); */
     background: linear-gradient(4deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(im/dog9.png);
    border-radius: 15px;
  }
  

  
  .card:hover .face.face5{
    height: 40px;
    border-radius: 0 0 15px 15px;
  }
  
  .card .face.face5:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }

  #animals{
    display: flex;
    gap:100px ;
    transform: translate(-80px, 100px);
    margin-bottom: 200px;
  }
  
  .footer-content {
    display: flex;
    margin-left: 2cm;
}

#quick-links {
    display: flex;
    width: 30%;
    height: 8cm;
    box-shadow: 0 5px 15px rgba(214, 208, 208, 0.2);
}

#quick-links li {
    margin-left: 2.5cm;
    list-style: none;
    line-height: 1cm;
}

#specific-socials {
    display: flex;
    gap: 1cm;
    margin-left: 3.2cm;
    margin-top: 1cm;
}

#specific-socials p {
    border: 2px solid white; 
    border-radius: 5px; 
    padding: 10px; 
    color: white; 
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
}

#terms {
    text-align: center;
}

#socials {
    width: 30%;
    height: 8cm;
    box-shadow: 0 5px 15px rgba(214, 208, 208, 0.2);
}

#socials h1 {
    text-align: center;
    margin-top: 2cm;
}

#socials h4 {
    text-align: center;
    font-size: 20px;
}

#contact-us {
    width: 30%;
    height: 8cm;
    box-shadow: 0 5px 15px rgba(214, 208, 208, 0.2);
}

#contact-us p {
    margin-left: 5cm;
}

#pal_heading {
    color: orange;
}



.personal-review{
box-shadow: 1px 0 4px;
width:30%;
margin-left: 3%;
p{
    margin-left: 30px;
}

}
.review{
    display: flex;
    margin-bottom: 200px;
   
    img{
        width:70px;
        margin-top: 10px;

    }
}
#quote{color:rgb(218, 42, 42);
font-size: 30px;
margin-top: 49px;
margin-left: 32%;
}
#name{
    margin-left: 20%;

}


.alignment{
display: flex;
margin-left: 20px;
gap:-40px
}
#our-review{
    color: rgb(255, 145, 0);
    margin-left: 45%;
}
#what-people-say{
    margin-left: 43%;
    font-size: 50px;
    
}
  


